<!doctype html>
<html>

<head>
  <!--Replace with your tailwind.css once created-->
  <!-- <link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel=" stylesheet"> -->
  <!--Regular Datatables CSS-->
  <!-- <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet"> -->
  <!--Responsive Extension Datatables CSS-->
  <!-- <link href="https://cdn.datatables.net/fixedcolumns/4.2.2/css/fixedColumns.dataTables.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename = 'datatable.css') }}">
  <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
</head>

<body>
  {% block content %}{% endblock %}
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

  <!--Datatables -->
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>